<launch>
  <!-- Launch GUI controller -->
  <node pkg="optidraw" type="ControllerNode.py" name="ControllerNode" output="screen">
  </node>
  <!-- Launch GUI -->
  <node pkg="optidraw" type="GuiNode.py" name="mainwindow" output="screen">
  </node>
  <!-- Launch the plotting node -->
  <node pkg="optidraw" type="obstacleMaker.py" name="obstaclenode">
  <!-- Launch rviz -->
  <node pkg="rviz" type="rviz" name="rviz"/>

</launch>



    
