<launch>
  <!-- Launch GUI controller -->
  <node pkg="my_gui_pkg" type="ControllerNode.py" name="ControllerNode" output="screen">
  </node>
  <!-- Launch GUI -->
  <node pkg="my_gui_pkg" type="GuiNode.py" name="mainwindow" output="screen">
  </node>
  <!-- Launch the plotting node -->
  <node pkg="my_gui_pkg" type="obstacleMaker.py" name="obstaclenode">
  </node>
  <!-- Launch rviz -->
  <node pkg="rviz" type="rviz" name="rviz">
  </node>
</launch>
